/*--Universal Styling--*/
*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
  	text-decoration: none;
}

body{
    font-family: 'Karla', sans-serif;
		background-color: #E6EEFF;
		padding: 0px;
		margin: 0px;
}

.removepadding{
	padding: 0px;
}
/*--End of Universal Styling--*/



/*--Navigation Styling--*/
nav {
	margin-left: auto;
  margin-right: auto;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.navigation-container{
	background-color: #0032D3;
	color: white;
	height: 8vh;
	padding: 10px 30px;
}

.olalogo{
	width: 65px;
	margin: 0px;
	padding: 0px;
	border-radius: 50%;
	bottom: 5px;
}

.name{
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	font-weight: 600;
	margin: 0px;
	padding:0px;
	float: left;
	vertical-align: middle;
	color: white;
	-webkit-animation:out 1s linear;
	-moz-animation:out 1s linear;
	animation:out 1s linear;
}
@-moz-keyframes out { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes out { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes out { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }


.name:hover {
    -webkit-animation:spin 1s linear ;
    -moz-animation:spin 1s linear ;
    animation:spin 1s linear ;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.nav-links a{
	color: white;
	cursor: pointer;
  font-size: 22px;
	float: right;
  align-items: right;
  border: none;
  margin-left: 22px;
  padding-top: 7px;
	vertical-align: middle;
}

.name :visited,
.nav-links a:visited{
	color: white;
}

.name :hover,
.nav-links a:hover{
	color: white;
	opacity: 0.7;
	font-weight: 600;
}
/*--End of Navigation Styling--*/



/*--Header Styling--*/
#box1{
	height: 100vh;
  width: 100%;
  margin: 0px;
  background-color: #0032D3;
}

.headerelements{
	margin-left: auto;
	margin-right: auto;
	background-color: #0032D3;
	color: white;
	padding: 20px 30px;
	padding-top: 90px;
}

.greeting{
	font-size: 55px;
	margin: 0px;
  font-family: 'Poppins', sans-serif;
}

.headline{
    font-size: 45px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-top: 8px;
}

.bio{
    font-size: 23px;
    margin-bottom: 30px;
}

.goal,
.goalCont{
	color: white;
	font-size: 23px;
}

.goalCont{
		font-size: 18px;
}

.hire{
	margin-bottom: 5px;
	font-size: 19px;
}

.freelance{
	margin-top: 8px;
	font-size: 19px;
}

.resume,
.email{
	font-weight: bold;
	font-size: 21px;
}

.email-link,
.email-link:visited{
	font-weight: bolder;
	font-size: 21px;
	color: #0032D3;
	text-decoration: underline;
}

.resume:hover,
.email-link:hover{
	opacity: 0.6;
}

.fa-envelope{
	text-decoration: none;
}

.laugh,
.unesco{
	color: pink;
	font-size: 20px;
	font-weight: bold;
	text-decoration: underline;
}

.laugh:hover,
.unesco:hover{
	opacity: .6;
}
/*End of Header Styling*/



/*--Projects Section Styling--*/

main{
	background-color: #E6EEFF;
	color: #0032D3;
	margin: 0px;
	padding-top: 35px;

}

.projects-header{
	text-align: left;
	color: #0032D3;
	font-size: 60px;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 25px;
}

.toolsImgs{
	padding-top: 10px;
}

.tools{
	margin-bottom: 70px;
}

.shetravels,
.bringit,
.sunchaser{
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
	margin-bottom: 0px;
}

.shetravels{
	background: #3FEFE6;
	color: #282C34;
}

.bringit{
	background: #D2F97A;
	color: #282C34;
}

.sunchaser{
	background: #ff7fb6;
	color: #282C34;
}

.projecthdr-1,
.projecthdr-2,
.projecthdr-3{
	text-align: left;
	font-size: 21px;
	margin-top: 10px;
	margin-bottom: 5px;
	padding-top: 20px;
	padding-bottom: 5px;
}

.projecthdr-1{
	border-bottom: #FC4444 solid 2px;
}

.projecthdr-2{
	border-bottom: #E71353 solid 2px;
}

.projecthdr-3{
	border-bottom: white solid 2px;
}

.toolsUsed{
	text-align: center;
	font-size: 20px;
	margin-top: 30px;
}

.screen{
	border-radius: 3px;
}

.mac-screen1,
.mac-screen2,
.mac-screen3,
.screen{
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

.icon{
	max-height: 35px;
	margin: 0px 5px;
}

.interactOptions{
	text-align: center;
	margin: 20px 10px;
}

.code-link1,
.code-link2,
.code-link3,
.demo-link1,
.demo-link2,
.demo-link3{
	color: white;
	padding: 8px 25px;
	margin: 0px 10px;
	font-size: 16px;
}

.code-link1,
.demo-link1{
	background-color: #FC4444;
}

.code-link2,
.demo-link2{
	background-color: #E71353;
}

.code-link3,
.demo-link3{
	border: white solid 2px;
	background: #ff7fb6;
}

.code-link1:hover,
.demo-link1:hover,
.code-link2:hover,
.demo-link2:hover,
.code-link3:hover,
.demo-link3:hover{
	opacity: 0.6;
}

.code-link:visited,
.demo-link:visited{
	color: white;
}

.summary{
	text-align: left;
	font-size: 18px;
	padding-top: 10px;
	margin-top: 1px;
}

.project-info{
	padding-left: 30px;
}

.vertical{
	margin-top: auto;
	margin-bottom: auto;
}



/* Contact Styling */
.contact-header{
	text-align: left;
	color: #0032D3;
	font-size: 60px;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 0px;
}

.contact{
	margin-left: auto;
	margin-right: auto;
	padding: 8px;
	padding-top: 30px;
}

.contact-content{
	padding-bottom: 30px;
}

/*--Footer Styling--*/

footer{
	font-size: 15px;
	background-color: #0032D3;
	color: white;
	width: 100%
	margin-bottom: 0px;
	padding-bottom: 0px;
	position: relative;
	bottom: 0px;
	z-index: 11;
}

.footer-content{
	text-align: center;
}

.olaimg-container{
	display: -webkit-box;
 display: -moz-box;
 display: -ms-flexbox;
 display: -webkit-flex;
 display: flex;
 align-items: center;
 justify-content: center;
}

.olaimg{
	width: 230px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 50%;
	border: 8px solid rgba(	0, 50, 211, .5);


}
/*--End of Footer Styling--*/
