/*--Universal Styling--*/
*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
  	text-decoration: none;
}

body{
    font-family: 'Karla', sans-serif;
		background-color: #0032D3;
		padding: 0px;
		margin: 0px;
}

.removepadding{
	padding: 0px;
}
/*--End of Universal Styling--*/



/*--Navigation Styling--*/
nav {
	margin-left: auto;
  margin-right: auto;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.navigation-container{
	background-color: #0032D3;
	color: white;
	height: 8vh;
	padding: 10px 50px;
}

.name{
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	margin: 0px;
	padding-top: 7px;
	width: 129px;
  height: 60px;
	float: left;
	margin-left: 0px;
	margin-right:0px;
	vertical-align: middle;
}

.navigation-container a{
	color: white;
	cursor: pointer;
  font-size: 22px;
	float: right;
  align-items: right;
  border: none;
  margin-left: 22px;
  padding-top: 7px;
	vertical-align: middle;
}

.navigation-container a:visited{
	color: white;
}

.navigation-container a:hover{
	color: white;
	opacity: 0.7;
	font-weight: 600;
}
/*--End of Navigation Styling--*/



/*--Header Styling--*/
#box1{
	height: 100vh;
  width: 100%;
  margin: 0px;
  background-color: #0032D3;
}

.headerelements{
	margin-left: auto;
	margin-right: auto;
	background-color: #0032D3;
	color: white;
	padding: 20px 30px;
	padding-top: 100px;
}

.greeting{
	font-size: 55px;
	margin: 0px;
  font-family: 'Poppins', sans-serif;
}

.headline{
    font-size: 45px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-top: 8px;
}

.bio{
    font-size: 25px;
    margin-bottom: 30px;
}

.availability{
	margin-bottom: 5px;
	font-size: 15px;
}

.freelance{
	margin-top: 8px;
	font-size: 15px;
}

.email{
	font-weight: bold;
	font-size: 18px;
}

.email-link{
	font-weight: bold;
	font-size: 18px;
	color: white;
}

.email-link:hover{
	font-weight: bold;
	font-size: 18px;
	opacity: 0.6;
	color: white;
}

.email-link:visited{
	font-weight: bold;
	font-size: 18px;
	color: white;
}

/*End of Header Styling*/



/*--Projects Section Styling--*/

main{
	background-color: #E6EEFF;
	color: #0032D3;
	margin: 0px;
	padding-top: 35px;

}

.projects-header{
	text-align: left;
	color: #0032D3;
	font-size: 60px;
	font-family: 'Poppins', sans-serif;
}

.shetravels,
.bringit,
.sunchaser{
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
}

.projecthdr-1,
.projecthdr-2,
.projecthdr-3{
	text-align: left;
}

.mac-screen,
.screen{
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
/*	display: flex;
  	justify-content: center;*/
}



/*--Footer Styling--*/

footer{
	height: 40px;
	font-size: 15px;
	background-color: #E6EEFF;
	color: #0032D3;
	width: 100%
	margin-bottom: 0px;
	padding-bottom: 0px;
	position: relative;
	bottom: 0px;
}

/*--End of Footer Styling--*/
